.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #1f2122;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
div.wrappertentangan {
    margin: 100px 0 200px 0;
    width: 100%;
}
div.wrappertentangan article.isi {
    line-height: 30px;
    font-family: serif;
    font-size: 17px;
    max-width: 800px;
    margin: 20px auto;
    text-align:left;
}